{% extends "base.html" %}

{% load static %}

{% block title %}Каталог{% endblock %}

{% block content %}
  <div class="container">
    <div class="header">
      <h1>Каталог</h1>
    </div>

    <div class="sort-block">
      <span class="sort-item">Сортировать по:</span>
      <a class="sort-item" href="?sort=name">названию</a>
      <a class="sort-item" href="?sort=min_price">начиная с дешёвых</a>
      <a class="sort-item" href="?sort=max_price">начиная с дорогих</a>
    </div>

    <div class="content">
      {% for phone in phones %}
        <div class="phone">
          <a href="{% url 'phone' phone.slug %}">
            <h3>{{ phone.name }}</h3>
          </a>
          <div class="price">Стоимость: {{ phone.price }} ₽</div>
          <img height="400" src="/media/{{ phone.image }}" alt="{{ phone.name }}"/>
        </div>
      {% endfor %}
    </div>
  


    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if phones.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ phones.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        {% endif %}

        {% for p in phones.paginator.page_range %}
          {% if phones.number == p %}
          <li class="page-item active"><a class="page-link">{{ p }}</a></li>
          {% else %}
          {% if p > phones.number|add:'-3' and p < phones.number|add:'3' %}
          <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
          {% endif %}
          {% endif %}
          {% endfor %}

        {% if phones.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ phones.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      {% endif %}
      </ul>
    </nav>

  </div>

{% endblock %}



